/* -- Basic Button -- */
.btn {
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: $font-regular;
  color: $text-color--light;
  background-color: $primary-color;
  padding: .65rem 2rem;
}
.btn__outstand { display: block; font-size: $font-size--h1; font-weight: $font-extrabold; }

.btn-outline {
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: $font-regular;
  color: $text-color--light;
  border: 1px solid $text-color--light;
  background-color: transparent;
  padding: .65rem 1rem;

  transition: border .35s ease-in-out, background .35s ease-in-out;

  &:hover,
  &:focus,
  &.btn-outline--primary { border-color: $primary-color; background-color: $primary-color; }
}