// Form Basic
.form__group {
  @include display-flex();
  background-color: $gray-color--light;
  padding: 2rem 3rem;
}

// Items
.form__item {
  flex: 0 0 100%;
  width: 100%;

  span { font-weight: $font-bold; color: $gray-color--dark; }
  @media (min-width: 960px) {
    flex: 0 0 25%;
    width: 25%;
  }
}
.form__footer {
  &,
  .btn {
    width: 100%;

    @media (min-width: 960px) {
      width: auto;
    }
  }
}