/* -- Block headings -- */
.heading {
  padding-top: 2rem;
  font-size: $font-size--big;
  font-weight: $font-extrabold;
  text-transform: capitalize;

  @media (min-width: 960px) {
    font-size: $font-size--header;
  }
}
/* -- #Heading sizes -- */
.heading--big {
  font-size: $font-size--h1;
}
.heading--small {
  padding-top: 0;
  padding-bottom: .5rem;

  font-size: $font-size--text;
  @media (min-width: 960px) { font-size: $font-size--big; }
}
.heading--extra-small {
  padding-top: 0;
  padding-bottom: 1rem;

  font-size: $font-size--small;
  @media (min-width: 960px) { font-size: $font-size--normal; }
}
/* -- #Heading paddings -- */
.heading--bottom {
  padding-bottom: 1rem;
}
/* -- #Heading colors -- */
.heading--orange {
  color: $orange-color;
}
.heading--blue {
  color: $blue-color;
}
.heading--green {
  color: $green-color;
}
// Subtitle
.subtitle {
  font-weight: $font-regular;
  font-size: $font-size--text;
  color: $text-color--dark;

  @media (min-width: 960px) {
    font-size: $font-size--normal;
  }
}