/* -- Triangle -- */
.section-triangle {
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 27px solid;
    border-color: $text-color--light transparent transparent;
    z-index: 1;
  }
}