.dropdown {
  position: relative;
  max-height: 4rem;
  overflow: hidden;
  cursor: pointer;

  text-align: center;
  border-bottom: 2px solid $primary-color;
  outline: none;
  transition: overflow .25s ease-in-out, max-height 0.25s ease-in-out;

  @media (min-width: 960px) { text-align: left; border: none; }

  .dropdown__item:first-child {
    margin-top: 1.25rem;
  }
  input {  display: none;  }
  label {
    display: block;
    padding: .5rem;
    cursor: pointer;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 1.25rem;
    border: .3rem solid $text-color--light;
    border-color: $text-color--light transparent transparent transparent;
  }
  &:hover,
  &[active="true"] {
    max-height: 15rem;

    &:after {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
}