/* -- Common -- */

/* -- Colors -- */

/* -- Fonts -- */

/* -- Reset -- */

/* -- Basic Reset browser -- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Base App Moovingo -- */

html,
body,
a,
p,
span,
button,
label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #656d78;
}

@media (min-width: 960px) {
  html,
  body,
  a,
  p,
  span,
  button,
  label {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* -- Components -- */

/* -- Block headings -- */

.heading {
  padding-top: 2rem;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 960px) {
  .heading {
    font-size: 24px;
  }
}

/* -- #Heading sizes -- */

.heading--big {
  font-size: 26px;
}

.heading--small {
  padding-top: 0;
  padding-bottom: 0.5rem;
  font-size: 14px;
}

@media (min-width: 960px) {
  .heading--small {
    font-size: 18px;
  }
}

.heading--extra-small {
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 12px;
}

@media (min-width: 960px) {
  .heading--extra-small {
    font-size: 16px;
  }
}

/* -- #Heading paddings -- */

.heading--bottom {
  padding-bottom: 1rem;
}

/* -- #Heading colors -- */

.heading--orange {
  color: #d67d12;
}

.heading--blue {
  color: #128bd6;
}

.heading--green {
  color: #12d66f;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #363b42;
}

@media (min-width: 960px) {
  .subtitle {
    font-size: 16px;
  }
}

/* -- Basic Button -- */

.btn {
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  background-color: #0fccd8;
  padding: 0.65rem 2rem;
}

.btn__outstand {
  display: block;
  font-size: 26px;
  font-weight: 600;
}

.btn-outline {
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 0.65rem 1rem;
  transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline.btn-outline--primary {
  border-color: #0fccd8;
  background-color: #0fccd8;
}

/* -- Triangle -- */

.section-triangle:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 27px solid;
  border-color: #ffffff transparent transparent;
  z-index: 1;
}

.dropdown {
  position: relative;
  max-height: 4rem;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid #0fccd8;
  outline: none;
  transition: overflow 0.25s ease-in-out, max-height 0.25s ease-in-out;
}

@media (min-width: 960px) {
  .dropdown {
    text-align: left;
    border: none;
  }
}

.dropdown .dropdown__item:first-child {
  margin-top: 1.25rem;
}

.dropdown input {
  display: none;
}

.dropdown label {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 1.25rem;
  border: 0.3rem solid #ffffff;
  border-color: #ffffff transparent transparent transparent;
}

.dropdown:hover,
.dropdown[active=true] {
  max-height: 15rem;
}

.dropdown:hover:after,
.dropdown[active=true]:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.form__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 2rem 3rem;
}

.form__item {
  flex: 0 0 100%;
  width: 100%;
}

.form__item span {
  font-weight: 500;
  color: #3e3e3d;
}

@media (min-width: 960px) {
  .form__item {
    flex: 0 0 25%;
    width: 25%;
  }
}

.form__footer,
.form__footer .btn {
  width: 100%;
}

@media (min-width: 960px) {
  .form__footer,
  .form__footer .btn {
    width: auto;
  }
}

