<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    // Advertise
    .advertise {
        display: flex;
        flex-direction: column;
        align-items: center;

        .advertise__logos,
        .advertise__stars {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        .advertise__logos {
            padding: 1rem 0;

            p { padding: 0 1rem; }
            img { padding-right: 1rem; }

            @media (min-width: 960px) { padding: 1rem 0; }
        }
        .star-primary { padding-left: 5px; }
        .bold { font-weight: $font-extrabold; color: $gray-color--dark; }

        @media (min-width: 960px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    // British logos
    .logos {
        background-color: $gray-color--light;

        .logos__header {
            text-align: center;
            padding-bottom: 2.5rem;

            .heading { padding-top: 0; }
        }
        .logos__list {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin-bottom: 1rem;
            }

            @media (min-width: 960px) {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-around;
            }
        }
    }
</style>

<template>
    <div>
        <MBanner key="banner"></MBanner>
        <v-container>
            <section class="advertise">
                <p>Sell from <span class="bold">€1,500</span></p>
                <div class="advertise__logos">
                    <p>Advertise on</p>
                    <img height="20" src="/images/logos/daft-logo.png" alt="daft">
                    <img height="20" src="/images/logos/myhome-logo.png" alt="myhome">
                </div>
                <div class="advertise__stars">
                    <p>5 Start Experience </p>
                    <img class="star-primary" height="15" v-for="index in 5" :key="index" src="/images/icons/star.svg" alt="star">
                </div>
            </section>
        </v-container>
        <!-- Blocks Home -->
        <MSliders></MSliders>
        <MFaqs></MFaqs>
        <MTips></MTips>
        <MVersus></MVersus>
        <section class="logos">
            <v-container>
                <header class="logos__header">
                    <h2 class="heading">Featured In</h2>
                </header>
                <div class="logos__list">
                    <figure>
                        <img height="50" src="/images/logos/BusinessPost.svg" alt="Business Post logo">
                    </figure>
                    <figure>
                        <img height="35" src="/images/logos/The_Sunday_Times.svg" alt="The Sunday Times logo">
                    </figure>
                    <figure>
                        <img height="30" src="/images/logos/Independent.svg" alt="Independent logo">
                    </figure>
                </div>
            </v-container>
        </section>
        <MSocial></MSocial>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import MBanner from '@/js/layouts/MBanner';
    import MFaqs from '@/js/components/MFaqs';
    import MTips from '@/js/components/MTips';
    import MVersus from '@/js/components/MVersus';
    import MSocial from '@/js/components/MSocial';
    import MSliders from '@/js/components/MSliders';

    export default Component({components: {MBanner, MFaqs, MTips, MVersus, MSocial, MSliders}})(
        class Home extends Vue {
        }
    );
</script>