<style lang="scss">
    @import '@/sass/utils/_variables.scss';

    .properties {
        .properties__header {
            text-align: center;
            padding: 8rem 0 2rem;
        }
        .properties__heading {
            font-size: $font-size--h1;
            font-weight: $font-extrabold;
            text-transform: capitalize;
        }
        .properties__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .properties__item {
                flex: 0 0 100%;
                width: 100%;
                border: 1px solid $gray-color;
                margin-bottom: 2rem;

                @media (min-width: 960px) {
                    flex: 0 0 47.5%;
                    width: 47.5%;
                }
            }
            .properties__content {
                background-color: $gray-color--light;
                padding: 1.5rem 1rem;
            }
            .properties__price {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                padding-bottom: 1rem;
                font-size: $font-size--header;
                font-weight: $font-extrabold;

                span {
                    font-size: $font-size--normal;
                    font-weight: $font-light;
                }
            }
            .properties__title,
            .properties__text {
                font-size: $font-size--normal;
            }
            .properties__title {
                font-size: $font-size--normal;
                font-weight: $font-extrabold;
                padding-bottom: .25rem;
            }
        }
    }
</style>

<template>
    <div class="properties">
        <header class="properties__header">
            <h1 class="properties__heading">{{title}}</h1>
        </header>
        <MForm></MForm>
        <v-container>
            <div class="properties__list">
                <div class="properties__item" v-for="item in properties">
                    <figure>
                        <img width="100%" :src="item.img" :alt="item.title">
                    </figure>
                    <div class="properties__content">
                        <h3 class="properties__price">{{item.price}} <span>{{item.direction}}</span></h3>
                        <h4 class="properties__title">{{item.title}}</h4>
                        <p class="properties__text">{{item.text}}</p>
                    </div>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import MForm from '@/js/components/MForm';

    export default Component({components: {MForm}})(
        class Properties extends Vue {
            data () {
                return {
                    title: 'Property search',
                    properties: [
                        {price: '€2,450,000', img: '/images/property.jpg', direction: '4 BD, 4 BA, 3000sq ft', title: 'The Gables, 25 St Columba\'s Terrace Street', text: 'Newtownmountkennedy, Co. Wicklow'},
                        {price: '€2,450,000', img: '/images/property.jpg', direction: '4 BD, 4 BA, 3000sq ft', title: 'The Gables, 25 St Columba\'s Terrace Street', text: 'Newtownmountkennedy, Co. Wicklow'},
                        {price: '€2,450,000', img: '/images/property.jpg', direction: '4 BD, 4 BA, 3000sq ft', title: 'The Gables, 25 St Columba\'s Terrace Street', text: 'Newtownmountkennedy, Co. Wicklow'},
                        {price: '€2,450,000', img: '/images/property.jpg', direction: '4 BD, 4 BA, 3000sq ft', title: 'The Gables, 25 St Columba\'s Terrace Street', text: 'Newtownmountkennedy, Co. Wicklow'}
                    ]
                }
            };
        }
    );
</script>