<template>
    <v-app>
        <MHeader :isHome="home" key="header"></MHeader>
        <v-content>
            <!-- Call Router - Body -->
            <router-view></router-view>
        </v-content>
        <MFooter key="footer"></MFooter>
    </v-app>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import MHeader from '@/js/layouts/MHeader';
    import MBanner from '@/js/layouts/MBanner';
    import MFooter from '@/js/layouts/MFooter';

    export default Component({components: {MHeader, MBanner, MFooter}})(
        class App extends Vue {
            data () {
                return {
                    home: false
                }
            }
        }
    );
</script>