<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    .faqs {
        position: relative;

        .faqs__header {
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .faqs__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .faqs__item {
            max-width: 300px;
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .faqs__icon { padding-bottom: .5rem; }

        @media (min-width: 960px) {
            .faqs__list {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
            }
            .faqs__item {
                flex: 0 0 45%;
                width: 45%;
                max-width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                text-align: left;
            }
            .faqs__icon {
                flex: 0 0 20%;
                width: 20%;
            }
            .faqs__content {
                flex: 0 0 80%;
                width: 80%;
            }
        }

    }
</style>

<template>
    <section class="faqs section-triangle">
        <v-container>
            <header class="faqs__header">
                <h2 class="heading">{{title}}</h2>
                <span class="subtitle">{{subtitle}}</span>
            </header>
            <div class="faqs__list">
                <div v-for="(faq, index) in faqs" class="faqs__item">
                    <figure class="faqs__icon">
                        <img height="60" :src="faq.iconSrc" :alt="faq.heading">
                    </figure>
                    <div class="faqs__content">
                        <h3 class="heading heading--small">{{index+1}}. {{faq.heading}}</h3>
                        <p class="faqs__text">{{faq.text}}</p>
                    </div>
                </div>
            </div>
        </v-container>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MFaqs extends Vue {
            data () {
                return {
                    title: 'How the perfect sale works',
                    subtitle: 'With Moovingo it\'s you and us.',
                    faqs: [
                        {heading: 'Book valuation', iconSrc: '/images/icons/instruct_moovingo.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Aliquam ut gravida neque, efficitur volutpat ex. Morbi scelerisque est at sapien dignissim pellentesque.'},
                        {heading: 'Instruct Moovingo', iconSrc: '/images/icons/instruct_moovingo.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Aliquam ut gravida neque, efficitur volutpat ex. Morbi scelerisque est at sapien dignissim pellentesque.'},
                        {heading: 'Personal service', iconSrc: '/images/icons/personal_service.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Aliquam ut gravida neque, efficitur volutpat ex. Morbi scelerisque est at sapien dignissim pellentesque.'},
                        {heading: 'Instant Viewings, Feedback & Offers', iconSrc: '/images/icons/personal_service.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Aliquam ut gravida neque, efficitur volutpat ex. Morbi scelerisque est at sapien dignissim pellentesque. Morbi scelerisque est at sapien dignissim pellentesque.'},
                        {heading: 'Sell for the highest price', iconSrc: '/images/icons/instruct_moovingo.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Aliquam ut gravida neque, efficitur volutpat ex. Morbi scelerisque est at sapien dignissim pellentesque. Morbi scelerisque est at sapien dignissim pellentesque.'},
                        {heading: 'Full Support', iconSrc: '/images/icons/instruct_moovingo.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Aliquam ut gravida neque, efficitur volutpat ex. Morbi scelerisque est at sapien dignissim pellentesque.'}
                    ]
                }
            };
        }
    );
</script>