<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    @import '@/sass/utils/_mixins.scss';

    // All styles form on '/sass/components/form'

    // Special text field
    .v-text-field { padding-top: 0; }
</style>

<template>
    <section class="form">
        <v-container>
            <form class="form__group">
                <div class="form__item">
                    <v-select v-model="countiesValue" height="40" color="#0fccd8" autofocus :items="counties">
                        <template slot="selection" slot-scope="{ item }">
                            <span>{{ item }}</span>
                        </template>
                    </v-select>
                </div>
                <div class="form__item">
                    <v-select v-model="countyValue" height="40" color="#0fccd8" autofocus :items="county">
                        <template slot="selection" slot-scope="{ item }">
                            <span>{{ item }}</span>
                        </template>
                    </v-select>
                </div>
                <div class="form__item">
                    <v-select v-model="priceValue" height="40" color="#0fccd8" autofocus :items="price">
                        <template slot="selection" slot-scope="{ item }">
                            <span>{{ item }}</span>
                        </template>
                    </v-select>
                </div>
                <div class="form__footer">
                    <button class="btn">Search</button>
                </div>
            </form>
        </v-container>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MForm extends Vue {
            data () {
                return {
                    counties: ['All counties', 'Odd counties', 'Even counties'],
                    county: ['Select a county first', 'Middle Town', 'Happy Town'],
                    price: ['No max price', '€1,100,000', '€2,100,000'],
                    countiesValue: 'All counties',
                    countyValue: 'Select a county first',
                    priceValue: 'No max price'
                }
            };
        }
    );
</script>