<style lang="scss">
    @import '@/sass/utils/_variables.scss';

    .sliders {
        position: relative;
        background-color: $gray-color--light;

        &:after { border-color: $gray-color--light transparent transparent; }
        .sliders__header {
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .sliders__footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .sliders__tip {
            display: block;
            margin: 1rem 0 2rem;
            font-size: $font-size--small;
            text-align: center;
        }
        .btn--slider {
            display: block;
            margin: 2rem auto 0;
            width: 100%;
            font-size: $font-size--normal;

            .btn__outstand { color: $text-color--light; }
            @media (min-width: 960px) {
                width: 50%;
            }
        }
    }
    // Special label
    .v-slider__thumb-label {
        transform: translate(-50%,-50%);
        border-radius: 4px;
        padding: .25rem 1rem;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 5px solid;
            border-color: $primary-color transparent transparent;
            z-index: 1;
        }
        span {
            transform: none;
            font-size: $font-size--small;
            color: $text-color--light;
        }
    }
</style>

<template>
    <section class="sliders section-triangle">
        <header class="sliders__header">
            <h2 class="heading">{{title}}</h2>
        </header>
        <v-container>
            <div class="sliders__item" v-for="slider in sliders">
                <h3 class="heading heading--extra-small">{{slider.title}}</h3>
                <v-slider v-if="slider.mname == 'price'" v-model="price" :max="slider.maxValue" :step="slider.step" :color="slider.colorBack" thumb-size="auto" track-color="#cccccc" thumb-label="always">
                    <template slot="thumb-label" slot-scope="props">
                      <span>{{priceFormatted}}</span>
                    </template>
                </v-slider>
                <v-slider v-if="slider.mname == 'fee'" v-model="fee" :max="slider.maxValue" :step="slider.step" :color="slider.colorBack" thumb-size="auto" track-color="#cccccc" thumb-label="always">
                    <template slot="thumb-label" slot-scope="props">
                        <span>{{feeFormatted}}</span>
                    </template>
                </v-slider>
            </div>
            <div class="sliders__footer">
                <h4 class="heading heading--extra-small">Agents fee €{{setFormat(agentFee)}}</h4>
                <h4 class="heading heading--extra-small">Moovingo €{{setFormat(moovingoFee)}}</h4>
            </div>
            <button class="btn btn--slider">You save <span class="btn__outstand">€{{setFormat(saveFee)}}</span></button>
            <span class="sliders__tip">{{tip}}</span>
        </v-container>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MSliders extends Vue {
            data () {
                return {
                    title: 'How can i save?',
                    tip: 'Fees inclusive of marketing, viewings and VAT',
                    sliders: [
                        {mname: 'price', maxValue: 4900000, colorBack: '#0fccd8', title: 'Selling price', step: 100000},
                        {mname: 'fee', maxValue: 3, colorBack: '#0fccd8', title: 'Estate agent fee', step: .5}
                    ],
                    price: 2450000,
                    fee: 1.5,
                    moovingoFee: 2200
                }
            };
            get agentFee() {
                return this.fee*this.price/100
            };
            get saveFee() {
                return this.agentFee - this.moovingoFee
            }
            get priceFormatted() {
                return '€' + this.setFormat(this.price)
            }
            get feeFormatted() {
                return this.setFormat(this.fee) + '%'
            }
            setFormat(value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    );
</script>