<style lang="scss">
    @import '@/sass/utils/_variables.scss';

    .social {
        .social__header {
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .social-networks {
            text-align: center;
            padding-bottom: 2.5rem;
        }
    }
</style>

<template>
    <section class="social">
        <v-container>
            <div class="social__content">
                <header class="social__header">
                    <h3 class="heading">Connect with Us</h3>
                </header>
                <div class="social-networks">
                    <a v-for="item in social" :href="item.url">
                        <img height="24" :src="item.src" :alt="item.alt">
                    </a>
                </div>
            </div>
        </v-container>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MSocial extends Vue {
            data () {
                return {
                    social: [
                        {url: '/', alt: 'Facebook', src: '/images/icons/facebook-logo--blue.svg'},
                        {url: '/', alt: 'Twitter', src: '/images/icons/twitter--blue.svg'},
                        {url: '/', alt: 'Instagram', src: '/images/icons/instagram-logo--blue.svg'},
                        {url: '/', alt: 'Connect by email', src: '/images/icons/envelope--blue.svg'}
                    ]
                }
            };
        }
    );
</script>