<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    .tips {
        position: relative;
        background-color: $gray-color--light;

        &:after {
            border-color: $gray-color--light transparent transparent;
        }
        .tips__header {
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .tips__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tips__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            padding: 1rem 3rem;
        }
        .tips__text { margin-bottom: 1rem; }

        @media (min-width: 960px) {
            .tips__grid {
                display: grid;
                grid-template-rows: 250px 25px 150px;
                grid-template-columns: auto auto auto;
            }
            .tips__item {
                padding: 0 2rem;

                &:nth-child(1),
                &:nth-child(3) {
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                &:nth-child(1) { grid-column-start: 1; }
                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 2;
                }
                &:nth-child(3) { grid-column-start: 3; }
            }
            .tips__phone {
                grid-row-start: 2;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
</style>

<template>
    <section class="tips section-triangle">
        <v-container>
            <header class="tips__header">
                <h2 class="heading">{{title}}</h2>
            </header>
            <div :class="{ 'tips__list': isMobile, 'tips__grid': !isMobile}">
                <div v-for="(tip) in tips" class="tips__item">
                    <h3 class="heading heading--small" :class="tip.colorClass">{{tip.heading}}</h3>
                    <p class="tips__text">{{tip.text}}</p>
                    <figure class="tips__icon">
                        <img height="150" :src="tip.iconSrc" :alt="tip.heading">
                    </figure>
                </div>
                <figure v-if="!isMobile" class="tips__phone">
                    <img src="/images/icons/phone.svg" alt="Phone Tips Moovingo">
                </figure>
            </div>
        </v-container>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MTips extends Vue {
            data () {
                return {
                    title: 'How does Moovingo maximise the sale price & simplify a sale?',
                    tips: [
                        {heading: 'Buyers', iconSrc: '/images/icons/buyers.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.', colorClass: 'heading--orange'},
                        {heading: 'Local property expert', iconSrc: '/images/icons/local_expert.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.', colorClass: 'heading--green'},
                        {heading: 'Sellers', iconSrc: '/images/icons/sellers.svg', text: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.', colorClass: 'heading--blue'}
                    ],
                    isMobile: false
                }
            };
            created() {
                window.addEventListener('resize', this.mobileDetection);
                this.mobileDetection();
            };
            destroyed() {
                window.removeEventListener('resize', this.mobileDetection);
            };
            mobileDetection() {
                this.isMobile = (window.innerWidth < 960) ? true : false;
            };
        }
    );
</script>