<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    .versus {
        position: relative;

        .versus__header {
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .versus__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .versus__item {
            width: 100%;
            border-bottom: 1px solid $gray-color;
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .versus__icon { padding: 1rem 0; }

        @media (min-width: 960px) {
            .block-flex {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .heading { flex: 0 0 100%; width: 100%; }
                .versus__content { flex: 0 0 40%; width: 40%; }
                .versus__icon { flex: 0 0 20%; width: 20%; }
            }
        }
    }
</style>

<template>
    <section class="versus">
        <header class="versus__header">
            <h2 class="heading">{{title}}</h2>
        </header>
        <div class="versus__list">
            <div v-for="(item) in versus" class="versus__item">
                <h2 class="heading heading--bottom">{{item.heading}}</h2>
                <v-container class="block-flex">
                    <div class="versus__content">
                        <h3 v-if="isMobile" class="heading heading--small">Moovingo</h3>
                        <p class="versus__text">{{item.textMoov}}</p>
                    </div>
                    <figure class="versus__icon">
                        <img :height="(isMobile) ? 50 : 80" :src="item.iconSrc" :alt="item.heading">
                    </figure>
                    <div class="versus__content">
                        <h3 v-if="isMobile" class="heading heading--small">Traditional agent</h3>
                        <p class="versus__text">{{item.textAgent}}</p>
                    </div>
                </v-container>
            </div>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MVersus extends Vue {
            data () {
                return {
                    title: 'Moovingo vs traditional agent',
                    versus: [
                        {heading: 'Fees', iconSrc: '/images/icons/fees.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Sed faucibus purus felis.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Digital marketing', iconSrc: '/images/icons/digital_marketing.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Sed faucibus purus felis.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Speed', iconSrc: '/images/icons/speed.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Sed faucibus purus felis.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Buyer experience', iconSrc: '/images/icons/personal_service.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Sed faucibus purus felis.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Cost efficiency', iconSrc: '/images/icons/instruct_moovingo.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Communication', iconSrc: '/images/icons/communication.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Calendar', iconSrc: '/images/icons/instruct_moovingo.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                        {heading: 'Professional photos & floorplans', iconSrc: '/images/icons/pro_photos_&_floor_plans.svg', textMoov: 'Sed faucibus purus felis, vitae varius justo pellentesque eu. Sed faucibus purus felis.', textAgent: 'Sed faucibus purus felis, vitae varius justo pellentesque eu.'},
                    ],
                    isMobile: false
                }
            };
            created() {
                window.addEventListener('resize', this.mobileDetection);
                this.mobileDetection();
            };
            destroyed() {
                window.removeEventListener('resize', this.mobileDetection);
            };
            mobileDetection() {
                this.isMobile = (window.innerWidth < 960) ? true : false;
            };
        }
    );
</script>