/* -- Colors -- */
$primary-color: #0fccd8;
$green-color: #12d66f;
$orange-color: #d67d12;
$blue-color: #128bd6;

// Gray
$gray-color--dark: #3e3e3d;
$gray-color: #dddddd;
$gray-color--light: #f5f5f5;

// Text
$text-color--dark: #363b42;
$text-color: #656d78;
$text-color--light: #ffffff;

/* -- Fonts -- */
$font-family: 'Poppins', sans-serif;

// Sizes
$font-size--h1: 26px;
$font-size--header: 24px;
$font-size--small: 12px;
$font-size--text: 14px;
$font-size--normal: 16px;
$font-size--footer: $font-size--normal;
$font-size--big: 18px;

// Weight
$font-light: 200;
$font-regular: 400;
$font-bold: 500;
$font-extrabold: 600;