<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    @import '@/sass/utils/_mixins.scss';

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        height: 500px;

        background-image: url('/images/banner-home.png');
        background-position: center center;
        background-size: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 96%, calc(50% - 1.5rem) 96%, 50% 100%, calc(50% + 1.5rem) 96%, 0 96%);

        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            display: block;
            background-color: rgba(0, 0, 0, .35);
        }

        // Header
        .banner__header {
            color: $text-color--light;
            text-align: center;
            margin-bottom: 2rem;
        }

        // Form
        .banner__form {
            @include display-flex();
            background-color: $text-color--light;
            padding: 1rem 2rem;
            border-radius: 5px;
            max-width: 800px;

            @media (min-width: 960px) {
                padding: .25rem 2rem;

                .form__item {
                    width: 33%; flex: 0 0 33%;
                }
            }
        }
    }
</style>

<template>
    <section class="banner">
        <header class="banner__header">
            <h1 class="heading heading--big">{{title}}</h1>
            <h3 class="heading heading--small">{{subtitle}}</h3>
        </header>
        <div class="banner__form">
            <div class="form__item">
                <v-select v-model="place" height="40" color="#0fccd8" autofocus :items="placeValuation">
                    <template slot="selection" slot-scope="{ item }">
                        <span>{{ item }}</span>
                    </template>
                </v-select>
            </div>
            <div class="form__item">
                <v-select v-model="date" height="40" color="#0fccd8" autofocus :items="dateValuation">
                    <template slot="selection" slot-scope="{ item }">
                        <span>{{ item }}</span>
                    </template>
                </v-select>
            </div>
            <div class="form__footer">
                <button class="btn">Book valuation</button>
            </div>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MBanner extends Vue {
            data () {
                return {
                    banner: 'banner',
                    title: 'Designed to sell your home for more',
                    subtitle: 'Technology in the cloud. Experts on the ground',
                    place: 'Co. Antrim - Aghagallon',
                    date: 'Thursday 27th Jul - 09:00',
                    placeValuation: ['Co. Antrim - Aghagallon'],
                    dateValuation: ['Thursday 27th Jul - 09:00', 'Friday 28th Jul - 09:00']
                }
            }
        }
    );
</script>