<style lang="scss">
    @import '@/sass/utils/_variables.scss';
    .footer {
        padding-top: 2rem;
        background-color: $gray-color--dark;

        .footer__heading,
        .footer__link,
        .footer__text {
            font-size: $font-size--text;
            color: $text-color--light;

            @media (min-width: 960px) {
                font-size: $font-size--footer;
            }
        }
        .footer__link,
        .footer__text { font-weight: $font-light; }

        .footer__heading { font-weight: $font-regular; margin-bottom: .5rem; }
        .footer__link {
            transition: font .25s ease-in-out;

            &:hover { font-weight: $font-regular; }

            @media (min-width: 960px) {
                &:after { content: '|'; padding: 0 .5rem; }
                &:last-child:after { content: ''; padding: 0; }
            }
        }
        img,
        .footer__text,
        .footer__legal,
        .footer__social { margin-bottom: 2rem; }
    }
    .footer__menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }
    .footer__info {
        width: 275px;
    }
    .footer__links {
        display: flex;
        flex-direction: column;

        @media (min-width: 960px) { flex-direction: row; flex-wrap: wrap; }

    }
    .social-networks {
        img { padding: 0 .5rem; }
    }
</style>

<template>
    <section class="footer">
        <v-container>
            <footer class="footer__menu">
                <div class="footer__info">
                    <div>
                        <h3 class="footer__heading">Designed for you and Moovingo</h3>
                        <figure>
                            <a href="/">
                                <img height="45" src="/images/logos/logo.svg" alt="Moovingo logo">
                            </a>
                        </figure>
                    </div>
                    <div v-for="item in info">
                        <h3 class="footer__heading">{{ item.heading }}</h3>
                        <p class="footer__text">{{ item.content }}</p>
                    </div>
                </div>
                <div class="footer__legal">
                    <h3 class="footer__heading">Links</h3>
                    <div class="footer__links">
                        <a class="footer__link" v-for="item in links" :href="item.url">{{ item.page }}</a>
                    </div>
                </div>
                <div class="footer__social">
                    <h3 class="footer__heading">Connect with Us</h3>
                    <div class="social-networks">
                        <a v-for="item in social" :href="item.url">
                            <img height="16" :src="item.src" :alt="item.alt">
                        </a>
                    </div>
                </div>
                <div class="footer__copy">
                    <p class="footer__text">© {{ currentYear }} Moovingo</p>
                </div>
            </footer>
        </v-container>
    </section>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({})(
        class MFooter extends Vue {
            data () {
                return {
                    info: [
                        {heading: 'Legal', content: 'Moovingo is licensed by the Property Services Regulatory Authority no. 003783'},
                        {heading: 'Address', content: '1st floor, Sandyford Hall, Sandyford, Dublin 18'},
                        {heading: 'Phone', content: '01 516 9999'}
                    ],
                    links: [
                        {url: '/', page: 'T&Cs'},
                        {url: '/', page: 'Privacy'},
                        {url: '/', page: 'Cookies'},
                        {url: '/', page: 'Media Inquiries'}
                    ],
                    social: [
                        {url: '/', alt: 'Facebook', src: '/images/icons/facebook-logo.svg'},
                        {url: '/', alt: 'Twitter', src: '/images/icons/twitter.svg'},
                        {url: '/', alt: 'Instagram', src: '/images/icons/instagram-logo.svg'},
                        {url: '/', alt: 'Connect by email', src: '/images/icons/envelope.svg'}
                    ],
                    currentYear: new Date().getFullYear()
                }
            };
        }
    );
</script>