<style lang="scss">
    @import '@/sass/utils/_variables.scss';

    .menu {
        position: fixed;
        top: 0;
        height: 4rem;
        width: 100%;
        color: $text-color--light;
        z-index: 9999;
        padding: .5rem 0;

        transition: background .5s ease-in-out;

        /* -- Reset header -- */
        .container { padding-top: 0; padding-bottom: 0; }
    }
    // Responsive grid
    .menu__responsive {
        display: grid;
        grid: 'logo burger burger';

        .menu__burger {
            grid-area: burger;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 1;
        }
        .nav-fixed {
            position: fixed;
            top: 4rem;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(200%, 0);

            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primary-color;
            text-align: center;
            background-color: $text-color--light;

            transition: transform .5s ease-in-out;

            // Open nav
            &.nav-fixed--show { transform: translate(0, 0); }

            // Nav items
            > button,
            > a { width: 100%; }
            > a {
                color: $primary-color;
                padding: 1rem 2rem;
                border-bottom: 2px solid $primary-color;
            }
            > button { border-radius: 0; }
        }
    }
    // Menu grid
    .menu__grid {
        display: grid;
        grid: 'logo nav nav nav nav nav';

        .menu__logo {
            grid-area: logo;
        }
        .menu__nav {
            grid-area: nav;

            nav {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-start;
                height: 100%;

                a,
                label,
                .dropdown { padding: .65rem 0; color: $text-color--light; }
            }
        }
    }
    // Menu secondary - Scrolling & Secondary Pages
    .menu--secondary {
        background-color: $text-color--light;
        border-bottom: 1px solid $gray-color;

        .menu__grid {
            .menu__nav {
                a,
                label,
                .dropdown { color: $text-color; }
                .dropdown:after { border-color: $text-color transparent transparent; }
            }
        }
        .menu__burger {
            span {
                border-color: $primary-color;
            }
        }
    }
    .burger {
        padding: 1rem;

        &:focus { outline: none; }
        span {
            display: block;
            width: 1.5rem;
            border-bottom: 2px solid $text-color--light;
            margin-bottom: 3px;
        }
    }
</style>

<template>
    <header class="menu" :class="{'menu--secondary': isScrolling || isOpen || !isHome}">
        <v-container>
            <div :class="{ 'menu__responsive': isMobile, 'menu__grid': !isMobile }">
                <div class="menu__logo">
                    <figure>
                        <a title="Home" href="/">
                            <img v-if="isMobile" height="35" src="/images/logos/logo-icon.svg" alt="Moovingo mobile logo" />
                            <img v-if="!isMobile" height="35" src="/images/logos/logo.svg" alt="Moovingo logo">
                        </a>
                    </figure>
                </div>
                <div v-if="isMobile" class="menu__burger">
                    <router-link tag="button" key="Property Search" class="btn-outline" :class="{'btn-outline--primary': isScrolling || isOpen || !isHome}" to="/properties">Browse Listings</router-link>
                    <button class="burger" title="Open & Close menu" v-on:click="openMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="menu__nav">
                    <nav :class="{'nav-fixed': isMobile, 'nav-fixed--show': isOpen}" @click="openMenu()">
                        <router-link v-for="item in menu" :tag="item.tag" :to="item.url" :key="item.name" :class="item.class" :active="item.name === isSelected"
                                     v-on:click.native="selectedMenu(item.name)">
                            {{ item.name }}
                            <router-link v-if="item.options" tag="div" class="dropdown__item" v-for="option in item.options" :key="option.name" :to="option.url">
                                <input type="radio" :value="option.name" :id="option.key">
                                <label :for="option.key">{{ option.name }}</label>
                            </router-link>
                        </router-link>
                    </nav>
                </div>
            </div>
        </v-container>
    </header>
</template>

<script>
    import Vue from 'vue';
    import Component from 'vue-class-component';

    export default Component({
        props: ['isHome']
    })(
        class MHeader extends Vue {
            data () {
                return {
                    menu: [
                        {url: '/', name: 'Book free valuation', tag: 'button', class: 'btn'},
                        {url: '/properties', name: 'Browse listings', tag: 'a'},
                        {url: '/', name: 'Our fees', tag: 'a'},
                        {url: '/', name: 'Selling', class: 'dropdown', tag: 'a', options: [
                                {key: 'selling-1', name: 'Selling 1', url: '/'},
                                {key: 'selling-2', name: 'Selling 2', url: '/'}
                            ]},
                        {url: '/', name: 'More', class: 'dropdown', tag: 'a', options: [
                                {key: 'more-1', name: 'More 1', url: '/'},
                                {key: 'more-2', name: 'More 2', url: '/'}
                            ]},
                        {url: '/', name: '01 5169999', tag: 'a'},
                        {url: '/', name: 'Login', tag: 'button', class: 'btn'}
                    ],
                    isMobile: false,
                    isScrolling: false,
                    isOpen: false,
                    isSelected: ''
                }
            };
            created() {
                window.addEventListener('resize', this.mobileDetection);
                window.addEventListener('scroll', this.scrollDetection);
                this.mobileDetection();
            };
            destroyed() {
                window.removeEventListener('resize', this.mobileDetection);
                window.removeEventListener('scroll', this.scrollDetection);
            };
            mobileDetection() {
                this.isMobile = (window.innerWidth < 960) ? true : false;
            };
            scrollDetection() {
                this.isScrolling = (window.scrollY > 100) ? true : false;
            };
            // Menu
            openMenu() {
                this.isOpen = !this.isOpen;
            };
            selectedMenu(name) {
                this.isSelected = (this.isSelected !== name) ? name : '';
            }
        }
    );
</script>